/* ------ COLOR REFERENCE ------*/
/* Main: linear-gradient(0.25turn, rgb(235, 72, 227), rgb(255, 63, 63));
/* Secondary: #FFAC2F
/* Logo blue: #0033DC
/*
/* ------------*/

@import url('https://fonts.googleapis.com/css?family=Roboto:lighter,100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

html {
    padding: 0;
    margin: 0;
}

.main {
    padding: 0;
    margin: 0;
}

/*------ GENERAL ------*/

body {
    font-family: "Roboto" !important;
    font-weight: 300 !important;
}

h1 {
    font-family: "Exo" !important;
}

h2, h3, h4, h5, h6 {
    font-family: "Roboto" !important;
    font-weight: 600;
}

.heading {
        font-size: 1.8rem;
    }

.heading-2 {
    font-size: 1.3rem;
}

.section {
    padding: 0 5%;
}

.uppercase {
    text-transform: uppercase;
}

a {
    color: white !important;
}

a:hover {
    text-decoration: none !important;
    color: rgb(255, 63, 63) !important;
}

img {
    max-width: 100%;
    overflow: hidden;
}

/*------ CARDS ------*/

.product-card {
    border: 0;
    border-radius: 10px;
    width: 100%;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    min-height: 150px;
}

/*------ MENU BAR ------*/

.navbar {
    background: linear-gradient(0.25turn, rgb(235, 72, 227), rgb(255, 63, 63));
    height: 75px;
    font-size: 20px;
    z-index: 1;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15); /* This should only be there when scrolling, not at the top */
}

.navbar .navbar-toggler {
    border: 0;
    color: white !important;
}

.navbar-nav {
    position: absolute;
    right: 0;
}

a.nav-link {
    color: white !important;
}

.active {
    text-decoration: underline;
    text-underline-position: under;
}

.order-icon {
    margin-right: 1%;
    font-size: 16px;
}

.logo {
    max-height: 50px;
}

/*------ SLIDER ------*/

.hero-image {
    width: 100%;
    height: calc(100vh - 75px);
    margin-right: 0 !important;
    margin-left: 0 !important;
    font-weight: 600;
}

.mars-image {
    background: url(../images/mars_tourists.jpeg) no-repeat center center;
    color: rgb(255, 63, 63);
    background-size: cover;
    overflow: hidden;
}

.iss-image {
    background: url(../images/iss_tourist.jpeg) no-repeat center center;
    color: white;
    background-size: cover;
    overflow: hidden;
}

.moon-image {
    background: url(../images/moon_tourists.jpg) no-repeat center center;
    color: white;
    background-size: cover;
    overflow: hidden;
}

/*------ JOURNEY SECTION ------*/

.journey-heading-bg {
    background: linear-gradient(0.25turn, rgb(235, 72, 227), rgb(255, 63, 63));
    height: 20%;
    border-radius: 10px 10px 0 0;
    padding: 10px;
    color: white;
}

.btn-readmore {
    background: #FFAC2F;
    border: 0;
    border-radius: 5px;
    width: 150px;
    color: white;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}

/*------ TECHNOLOGY ------*/

.technology {
    background: url(../images/spacex_bfr_spaceship.jpg) center center no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 450px;
    color: white;
    font-weight: 500;
}

.overlay {
    background: linear-gradient(0turn, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
    margin: 0;
    width: 100%;
    height: 100%;
}

.rocket-icon {
    color: white;
    font-size: 32px;
}

/*------ FOOTER ------*/

footer {
    padding: 30px 5%;
    background-color: #FFAC2F;
    color: #0033DC;
    font-size: 0.9rem;
}

.social {
    color: #0033DC !important;
    font-size: 24px;
}

.contact-card {
    background-color: white;
    border: 0;
    border-radius: 10px;
    width: 100%;
    max-width: 300px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}

/*------ CTA ------*/

.cta-card {
    color: white;
    background-color: #FFAC2F;
    border-radius: 10px;
    width: 100%;
    font-size: 1.1rem;
}

.btn-order {
    background: #0033DC;
    border: 0;
    border-radius: 5px;
    color: white;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}

/*--- ORDER PAGE ---*/

label {
    color: gray;
}

.form-heading-bg {
    background: linear-gradient(0.25turn, #F09643, #C7EA9E, #4CF5E1);
    height: 20%;
    border-radius: 10px 10px 0 0;
    color: white;
}

/*--- RESPONSIVE STYLES ---*/

@media (min-width: 576px) {
    .section {
        padding: 0 8%;
    }

    .heading {
        font-size: 2.5rem;
    }

    .heading-2 {
        font-size: 2rem;
    }
}

@media (min-width: 1140px) {
    footer {
        padding: 30px 12%;
        font-size: 1rem;
    }
}

@media (min-width: 640px) and (max-width: 1140px) {
    footer {
        padding: 30px 8%;
        font-size: 1rem;
    }
}

@media screen and (min-width: 768px) {
    .prod-description {
        min-height: 100px;
    }
}

@media (max-width: 960px) {
    .technology-heading {
        font-size: 1.6rem !important;
    }
}

/* Styling of the dropdown menu, when navbar is collapsed */
@media screen and (max-width: 768px) {
    .show > ul {
        background: linear-gradient(0.25turn, rgb(235, 72, 227), rgb(255, 63, 63));
        padding: 0 20px;
        width: 100%;
        text-align: center;
        box-shadow: 0 1rem 1rem rgba(0,0,0,.15);
    }

    .show {
        position: absolute !important;
        top: 75px;
        left: 0;
    }
}