/* ------ COLOR REFERENCE ------*/
/* Main (purple/red): linear-gradient(0.25turn, rgb(235, 72, 227), rgb(255, 63, 63));
/* Secondary (orange): #FFAC2F
/* Logo (blue): #0033DC
/*
/* ------------*/

@import url('https://fonts.googleapis.com/css?family=Roboto:lighter,100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

html {
    padding: 0;
    margin: 0;
}

.main {
    padding: 0;
    margin-top: 75px; /* To avoid the navbar overlapping with the page */
}

/*------ GENERAL ------*/

body {
    font-family: "Roboto" !important;
    font-weight: 300 !important;
}

h1 {
    font-family: "Exo" !important;
}

h2, h3, h4, h5, h6 {
    font-family: "Roboto" !important;
    font-weight: 600;
}

.heading {
        font-size: 1.8rem;
    }

.heading-2 {
    font-size: 1.3rem;
}

.uppercase {
    text-transform: uppercase;
}

img {
    max-width: 100%;
    overflow: hidden;
}

.note {
    font-size: 0.8rem;
}

/*------ HOVERING CARDS ------*/

.product-card {
    border: 0;
    border-radius: 10px;
    width: 100%;    
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    min-height: 150px;
}

.card-heading-bg {
    background: linear-gradient(0.25turn, rgb(235, 72, 227), rgb(255, 63, 63));
    border-radius: 10px 10px 0 0;
    color: white;
}

/*------ BUTTON STYLES ------*/

.btn-generic {
    border: 0;
    border-radius: 5px;
    color: white;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}

.btn-orange {
    background: #FFAC2F;
}

.btn-readmore {
    width: 150px;
}

.btn-blue {
    background: rgb(38, 71, 255);
}

.btn-red {
    background: rgb(235, 50, 50);
}

/*------ MENU BAR ------*/

.navbar {
    background: linear-gradient(0.25turn, rgb(235, 72, 227), rgb(255, 63, 63));
    height: 75px;
    font-size: 20px;
    z-index: 1;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    position: fixed;
    width: 100%;
    top: 0;
}

.navbar .navbar-toggler {
    border: 0;
    color: white !important;
}

.navbar-nav {
    position: absolute;
    right: 0;
}

a.nav-link {
    color: white !important;
}

.active {
    text-decoration: underline;
    text-underline-position: under;
}

.logo {                 
    max-height: 50px;
}

/*------ SLIDER ------*/

.hero-image {
    width: 100%;
    height: calc(100vh - 75px);
    margin-right: 0 !important;
    margin-left: 0 !important;
    font-weight: 600;
}

.mars-image {
    background: url(../images/mars_tourists_new.jpg) no-repeat center center;
    color: rgb(235, 50, 50);
    background-size: cover;
    overflow: hidden;
}

.iss-image {
    background: url(../images/iss_tourist.jpeg) no-repeat center center;
    color: white;
    background-size: cover;
    overflow: hidden;
}

.moon-image {
    background: url(../images/moon_tourists.jpg) no-repeat center center;
    color: white;
    background-size: cover;
    overflow: hidden;
}

/*------ TECHNOLOGY SECTION ------*/

.technology {
    background: url(../images/spacex_bfr_spaceship.jpg) center center no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 450px;
    color: white;
    font-weight: 500;
}

.overlay {
    background: linear-gradient(0turn, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0));
    margin: 0;
    width: 100%;
    height: 100%;
}

.rocket-icon {
    color: white;
    font-size: 32px;
}

/*------ FOOTER ------*/

footer {
    /*padding: 30px 5%;*/
    background-color: #FFAC2F;
    color: #0033DC;
    font-size: 0.9rem;
}

.social {
    color: #0033DC !important;
    font-size: 24px;
}

.contact-card {
    background-color: white;
    border: 0;
    border-radius: 10px;
    width: 100%;
    max-width: 300px;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}

/*--- ORDER PAGE ---*/

label {
    color: gray;
}

/*--- RESPONSIVE STYLES ---*/

/* @media queries are mainly used to make responsive font-sizes and setting the padding for the footer */

@media (min-width: 576px) {
    .heading {
        font-size: 2.5rem;
    }

    .heading-2 {
        font-size: 2rem;
    }
}

@media screen and (min-width: 768px) {
    .prod-description {
        min-height: 100px;
    }
}

@media (max-width: 960px) {
    .technology-heading {
        font-size: 1.6rem !important;
    }
}

/* This class exists to limit the width of sections on very wide screens */
@media (min-width: 1400px) {
    .section-container {
        max-width: 1200px;
    }
}

/* Styling of the dropdown menu, when navbar is collapsed */
@media screen and (max-width: 768px) {
    .show > ul {
        background: linear-gradient(0.25turn, rgb(235, 72, 227), rgb(255, 63, 63));
        padding: 0 20px;
        width: 100%;
        text-align: center;
        box-shadow: 0 1rem 1rem rgba(0,0,0,.15);
    }

    .show {
        position: absolute !important;
        top: 74px; /* Navbar height -1 to remove a thin border (not sure how else to fix) */
        left: 0;
    }
}