/* ------ COLOR REFERENCE ------*/
/* Main: linear-gradient(0.25turn, #EB48E4, #EC2424)
/*
/*
/*
/* ------------*/

@import url('https://fonts.googleapis.com/css?family=Roboto:lighter,100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

html {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Roboto" !important;
    font-weight: 300 !important;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Exo" !important;
}

/*------ GENERAL ------*/

.section {
    padding: 0 5%;
}

@media (min-width: 576px) {
    .section {
        padding: 0 8%;
    }
}

.uppercase {
    text-transform: uppercase;
}

a {
    color: white !important;
}

a:hover {
    text-decoration: none !important;
    color: #EC2424 !important;
}

img {
    max-width: 100%;
    overflow: hidden;
}

/*------ CARDS ------*/

.product-card {
    border: 0;
    border-radius: 10px;
    width: 100%;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    min-height: 300px;
}

/*------ MENU BAR ------*/

.navbar {
    background: linear-gradient(0.25turn, #EB48E4, #EC2424);
    height: 75px;
    font-size: 20px;
    z-index: 1;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15); /* This should only be there when scrolling, not at the top */
}

.navbar .navbar-toggler {
    border: 0;
    color: white !important;
}

.navbar-nav {
    position: absolute;
    right: 0;
}

@media screen and (max-width: 768px) {
    .show > ul {
        background: linear-gradient(0.25turn, #EB48E4, #EC2424);
        padding: 0 20px;
        width: 100%;
        text-align: center;
        box-shadow: 0 1rem 1rem rgba(0,0,0,.15);
    }

    .show {
        position: absolute !important;
        top: 75px;
        left: 0;
    }
}


a.nav-link {
    color: white !important;
}

.active {
    text-decoration: underline;
    text-underline-position: under;
}

.order-icon {
    margin-right: 1%;
    font-size: 16px;
}

.logo {
    max-height: 59px;
}

/*------ SLIDER ------*/

.hero-image {
    width: 100%;
    height: 80vh;
    margin-right: 0 !important;
    margin-left: 0 !important;
    max-height: 65vw;
}

.mars-image {
    background: url(../images/mars_tourists.jpeg) no-repeat center center;
    background-size: 100%;
    color: red;
}

.iss-image {
    background: url(../images/iss_tourist.jpeg) no-repeat center center;
    background-size: 100%;
    color: white;
}

.moon-image {
    background: url(../images/moon_tourists.jpg) no-repeat center center;
    background-size: 100%;
    color: white;
}

.hero-heading {
    font-size: 60px;
    padding-left: 15px;
}

/*------ JOURNEY SECTION ------*/

.journey-section {
    margin: 50px 0;
}

.journey-heading-bg {
    background: linear-gradient(0.25turn, #EB48E4, #EC2424);
    height: 20%;
    border-radius: 10px 10px 0 0;
    padding: 10px;
    color: white;
}

.prod-description {
    min-height: 150px;
    padding: 20px 10px 0 10px;
}

.btn-readmore {
    background: #FFAC2F;
    border: 0;
    border-radius: 5px;
    height: 50px;
    width: 60%;
    margin: 20px auto;
    padding: 0 5%;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    color: white;
}

/*------ TECHNOLOGY ------*/

.technology {
    background: url(../images/spacex_bfr_spaceship.jpg) no-repeat;
    background-size: 100%;
    height: 500px;
    max-height: 53vw;
    color: white;
}

.overlay {
    background: linear-gradient(0turn, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
    margin: 0;
    width: 100%;
    height: 100%;
}

.technology-heading {
    font-weight: bold;
}

@media (max-width: 960px) {
    .technology-heading {
        font-size: 1.6rem !important;
    }
}

.rocket-icon {
    color: white;
    font-size: 32px;
    margin: 20px 0 10px 0;
}

/*------ FOOTER ------*/

footer {
    padding: 30px 5%;
    background-color: #FFAC2F;
    color: #007bff;
    font-size: 0.9rem;
}

@media (min-width: 1140px) {
    footer {
        padding: 30px 12%;
        font-size: 1rem;
    }
}

@media (min-width: 640px) and (max-width: 1140px) {
    footer {
        padding: 30px 8%;
        font-size: 1rem;
    }
}

.social {
    color: #007bff !important;
    font-size: 24px;
}

.contact-card {
    background-color: white;
    border: 0;
    border-radius: 10px;
    width: 100%;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
}

/*------ CTA ------*/

.cta-card {
    color: white;
    background-color: #FFAC2F;
    border-radius: 10px;
    width: 100%;
    font-size: 1.1rem;
}

/*--- ORDER PAGE ---*/

label {
    color: gray;
}

.form-heading-bg {
    background: linear-gradient(0.25turn, #F09643, #C7EA9E, #4CF5E1);
    height: 20%;
    border-radius: 10px 10px 0 0;
    color: white;
}