/* ------ COLOR REFERENCE ------*/
/* Main: linear-gradient(0.25turn, #EB48E4, #EC2424)
/*
/*
/*
/* ------------*/

@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

html {
    padding: 0;
    margin: 0;
}

.row {
    margin-right: 0 !important;
    margin-left: 0 !important;
}

.section {
    padding: 0 8%;
}

/*------ GENERAL ------*/

.uppercase {
    text-transform: uppercase;
}

.section-heading {
    margin: 0 auto 25px auto;
}

a:hover {
    text-decoration: none !important;
    color: #EC2424 !important;
}

/*------ CARDS ------*/

.product-card {
    border: 0;
    border-radius: 10px;
    width: 100%;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    min-height: 300px;
}

.card-heading {
    text-align: center;
    margin: 0 auto;
}

/*------ MENU BAR ------*/

.navbar {
    background: linear-gradient(0.25turn, #EB48E4, #EC2424);
    height: 75px;
    font-size: 20px;
    z-index: 1;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15); /* This should only be there when scrolling, not at the top */
}

.navbar .navbar-toggler {
    border: 0;
    color: white !important;
}

.navbar-nav {
    position: absolute;
    right: 0;
}

@media screen and (max-width: 768px) {
    .show > ul {
        background: linear-gradient(0.25turn, #EB48E4, #EC2424);
        padding: 0 20px;
        width: 100%;
        text-align: center;
        box-shadow: 0 1rem 1rem rgba(0,0,0,.15);
    }

    .show {
        position: absolute !important;
        top: 75px;
        left: 0;
    }
}


a.nav-link {
    color: white !important;
}

.active {
    text-decoration: underline;
    text-underline-position: under;
}

.logo {
    max-height: 59px;
    margin: 0 auto;
}

.img-container {
    text-align: center;
    padding-bottom: 30px;
}

/*------ SLIDER ------*/

.hero-image {
    width: 100%;
    padding: 5% 5%;
    height: 80vh;
    color: rgb(218, 9, 9);
    font-weight: 500;
}

.mars-image {
    background: url(../images/mars.jpg) no-repeat center center;
    background-size: 100%;

}

.iss-image {
    background: url(../images/mars.jpg) no-repeat center center;
    background-size: 100%;
}

.moon-image {
    background: url(../images/mars.jpg) no-repeat center center;
    background-size: 100%;
}

.hero-heading {
    font-size: 60px;
    padding-left: 15px;
}

/*------ ABOUT US ------*/

.about-card {
    margin: 50px 8%;
    padding: 30px 5%;
}

.col-5 img {
    width: 100%;
    max-height: 300px;
}

/*------ JOURNEY SECTION ------*/

.journey-section {
    margin: 50px 0;
}

.card-heading-bg {
    background: linear-gradient(0.25turn, #EB48E4, #EC2424);
    height: 20%;
    border-radius: 10px 10px 0 0;
    padding: 10px;
    color: white;
}

.prod-description {
    min-height: 150px;
    padding: 20px 10px 0 10px;
}

.btn-readmore {
    background: #FFAC2F;
    border: 0;
    border-radius: 5px;
    height: 50px;
    width: 60%;
    margin: 20px auto;
    padding: 0 5%;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    color: white;
}

/*------ TECHNOLOGY ------*/

.technology {
    background: url(../images/spacex_bfr_spaceship.jpg) no-repeat;
    background-size: 100%;
    height: 500px;
}

.overlay {
    background: linear-gradient(0turn, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0), rgba(0, 0, 0, 0));
    margin: 0;
    width: 100%;
    height: 100%;
}

.technology-heading {
    font-weight: bold;
    color: white;
    margin: 50px 0 0 0;
}

.technology-text {
    color: white;
}

.rocket-icon {
    color: white;
    font-size: 32px;
    margin: 20px 0 10px 0;
}

/*------ FOOTER ------*/

footer {
    padding: 30px 5%;
    background-color: #FFAC2F;
    color: #007bff;
    font-size: 0.9rem;
}

@media (min-width: 1140px) {
    footer {
        padding: 30px 12%;
        font-size: 1rem;
    }
}

@media (min-width: 640px) and (max-width: 1140px) {
    footer {
        padding: 30px 8%;
        font-size: 1rem;
    }
}

.footer-menu {
    text-align: center;
    padding-top: 20px;
}

.footer-menu span {
    display: block;
    margin: 0 auto;
}

.socials {
    padding-top: 20px;
}

.socials a {
    color: #007bff;
    font-size: 24px;
    display: block;
    text-align: center;
}

.socials a:hover {
    color: #EC2424;
}

.contact-card {
    background-color: white;
    border: 0;
    border-radius: 10px;
    width: 100%;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    padding: 20px 30px 4px 30px;
}

.contact-heading {
    margin-bottom: 20px;
}

/*------ CTA ------*/

.cta-card {
    color: white;
    background-color: #FFAC2F;
    border-radius: 10px;
    width: 100%;
    padding: 20px 30px 4px 30px;
    font-size: 1.1rem;
}